.login-container {
    height: 100%;
    width: 100%;
    background-image: url('../../../images/background.jpg');
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.login-container .login-content{
    height: 100vh;
    width: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.login-container .login-content .sign-up{
    display: flex;
    justify-content: flex-end;
}

.login-content a {
    color: orange;
    font-weight: 700;
}