.input-container {
    height: 50px;
    width: 100%;
    max-width: 540px;
    background-color: white;
    opacity: 0.8;
    border-radius: 25px;
    display: flex;
    margin: 10px auto;
}

.input-container .icon {
    flex: 0 1 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container .input {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input input {
    width: 300px;
    height: 40px;
    border: 0;
}

*:focus {
    outline: none;
}